.wrapper {
    width: 400px;
    margin: 0;
}
/* wrapperクラスを中央寄せ */

.header {
    height: 100px;
    background-color: #848a9c;
}


/** contents **/
.contents {
    height: 250px;
    width: 400px;
}
/** end of contents **/


/** left **/
.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

/** end of left **/

/** center_right **/
.center_right{

    width: 250px;
    height: 250px;
    clear:left;

}


/** end of /** end of left **/

/** center **/
.center {
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    }

.center12 {
    float:left;
    width: 150px;
    height: 150px;

    
    }

.center1 {
    float:left;
    width: 150px;
    height: 50px;
    background-color: #dbd400;

}

.center2 {
    float:left;
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

/** end of center **/

/** right **/
.right {
    float:right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}

/** end of right **/

.center_to_right {

    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

/** footer **/
.footer {
    height: 100px;
    background-color: #d98d30;
}
/** end of footer **/
